
body {
  font-family: "Helvetica Neue", "Open Sans", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
}

#d3StateMap {
  position: relative;
}

.background {
  fill: none;
  pointer-events: all;
}


.states {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1px;
}

.states_visited {
  fill: #aaa;
  stroke: #fff;
  stroke-width: 1px;
}

.state_active {
  fill: #36648B; //steelblue;
}
.line {
  stroke: #222;
  stroke-dasharray: 4,2;
  fill: none;
}

.point {
  fill: #8B3639;
  stroke: #fff;
  stroke-width: 1px;
  cursor: hand; 
  cursor: pointer;
}

.point_active {
  fill: #142635;
}

#stateLabel {
  fill: #688aa8;
  font-size: 28px;
  letter-spacing: 0.1em;
}

#infoBar {
  position:absolute;
  color: white;
  background: rgba(0,0,0,0.55);
}
#infoBar h4 {
  padding: 0 5px;
  margin: 0px;
  line-height: 1.3;
  font-weight: normal;
  letter-spacing: 0.1em;
  display: inline;
  color: #fff;
}

h4#infoBarStatus {
  text-align: center;
  display: block;
}

#infoBarLocation {
  float: right;
}

#infoBarLocation img {
  vertical-align: middle;
  border: none;
}

#infoBarDescription {
  padding: 3px 5px;
  margin: 0px;
  font-size: 14px;
}

#infoBarDescription a:link {
  color: #ddd;
}
#infoBarDescription a:visited {
  color: #ddd;
}